[Desktop Entry]
Name=Help and Tips
Comment=Help and Tips for Archcraft WSE
Exec=archcraft-help-wse
Icon=archcraft-purple
Type=Application
Categories=System;
