[Desktop Entry]
Name=Help and Tips
Comment=Help and Tips for Archcraft WSE
Exec=help-and-tips
Icon=archcraft-purple
Type=Application
Categories=System;
