[Desktop Entry]
Name=Manage Monitors
Comment=Rofi frontend (with xrandr backend) to manage monitors
Exec=archcraft-randr
Icon=display
Type=Application
Categories=System;
