[Desktop Entry]
Name=Archcraft Help
Comment=Help and Tips for Archcraft
Exec=archcraft-help
Icon=archcraft-purple
Type=Application
Categories=System;
